@use "sass:map";
@import './../../../assets/scss/custom-palet.scss';

.full-page {
    position: fixed;
    z-index: 5000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #F4A607;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        height: 80px;
        margin-bottom: 20px;
    }
}