<div class="createCountry">
    <form autocomplete="off" >
        <div class="row">
            <div class="col-12">
                <mat-form-field class="fullwidth" appearance="fill">
                    <mat-label>Note de la bannière</mat-label>
                    <textarea [formControl]="note" matInput></textarea>
                    <mat-error>Champs requis</mat-error>
                </mat-form-field>
            </div>

        </div>


        <!-- <div class="croppingArea" *ngIf = "imageChangedEvent">
            <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="false"
                [aspectRatio]="1/1"
                [resizeToWidth]="800"
                [resizeToHeight]="400"
                [cropperMinWidth]="400"
                [cropperMinHeight]="200"
                format="png"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
            <div class="crropedImage">
                <img [src]="croppedImage" />
                <button mat-button (click) = "setBanner ()">Ajouter</button>
            </div>
            
        </div> -->

        <div class="imagesArea">
        
            <div class="imageItem" [style.background-image]="'url(' + image + ')'">
            </div>
            <button mat-mini-fab (click)="uploadFile()" type="button">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <div class="row">
            <div class="col-md-6 colsm-12">
                <mat-form-field class="fullwidth" appearance="fill">
                    <mat-label>Début</mat-label>
                    <input matInput [matDatepicker]="startPick" [formControl]="start" [min]="minStartDate">
                    <mat-datepicker-toggle matSuffix [for]="startPick"></mat-datepicker-toggle>
                    <mat-datepicker #startPick></mat-datepicker>
                    <mat-error>Champs requis</mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6 colsm-12">
                <mat-form-field class="fullwidth" appearance="fill">
                    <mat-label>Fin</mat-label>
                    <input matInput [matDatepicker]="endPick" [formControl]="end" [min]="minEndDate">
                    <mat-datepicker-toggle matSuffix [for]="endPick"></mat-datepicker-toggle>
                    <mat-datepicker #endPick></mat-datepicker>
                    <mat-error>Champs requis</mat-error>
                </mat-form-field>
            </div>

        </div>
        <div class="hideInput">
            <input type="file" accept="image/*"  onChange={this.onImageChange} id="imageInput" (change)="fileChangeEvent($event)" style="display: none;" />
            <label for="imageInput"><i className ="fas fa-"></i></label>
        </div>

        <div class="stepButtons">
            <div class="button"> &nbsp;</div>
            <div class="button">
                <button mat-flat-button color = "primary" type="button" (click)="createCountry()">Enregistrer</button>
            </div>
        </div>
    </form>
</div>
